@model cloudscribe.Pagination.Models.PagedResult<Library.Entities.Book>


@{
    Layout = "_Layout";
    ViewData["Controller"] = "Books";
    ViewData["Action"] = "Index";
}


<table class="table table-striped table-bordered mb-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Data)
        {
            var disabled = !book.IsAvailable ? "isDisabled btn-danger" : "btn-success";
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.FirstName @book.Author.LastName</td>
                <td>
                    <a id="@book.Id" onclick="borrow(@book.Id)" class="btn btn-sm @disabled">Borrow</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="text-center d-flex justify-content-center align-items-center">
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
</div>

@section Scripts
{
    @* <script type="text/javascript" src="js/borrow.js"></script> *@
    <script>

        function borrow(id) {
            const url = `https://localhost:44399/api/borrow/${id}`;

            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    if (data.success) {
                        document.getById(`#${id}`).style.backgroundColor = "red";
                    } else {
                        alert("fail");
                    }
                }
            });
        }

    </script>
}
