@model cloudscribe.Pagination.Models.PagedResult<Library.Entities.Book>


@{
    Layout = "_Layout";
    ViewData["Controller"] = "Books";
    ViewData["Action"] = "Index";
}


<table class="table table-striped table-bordered mb-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Data)
        {
            var notBorrowable = !book.IsAvailable;
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.FirstName @book.Author.LastName</td>
                <td>
                    <button onclick="Borrow(@book.Id)" type="submit" class="btn btn-sm btn-primary" disabled="@notBorrowable">Borrow</button>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="text-center d-flex justify-content-center align-items-center">
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
</div>
